<div class="container-fluid">
  <div class="row">
    <div class="fill2"></div>
  </div>
</div>

<div id="searchRow" class="container-fluid">
  <div class="row">
    <div id="searchCol" class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <p class="mainHeader">Koodet</p>
          <h4 class="subHeader">Search from more than 1000 snippets!</h4>
          <p class="subHeader">Get whatever you want!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12">
            <form>
              <div ng-controller="searchController" class="input-group input-group-lg">
                <input id="inputSearch" type="search" class="form-control input-focus" ng-model="search" placeholder="Search For Snippet!">
                <span class="input-group-btn">
                  <button id="searchButton" class="btn btn-primary" type="button" ng-click="searchSnippet()">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                </span>
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>

