  <div class="modal-body" ng-controller="signupController as signupCtrl">
  <form ng-submit="signupCtrl.signupForm()">
    <div class="form-group">
      <label for="first_name">First Name</label>
      <input type="text" class="form-control" id ="first-name" placeholder="firstname" required ng-model="signupData.firstname">
    </div>
    <div class="form-group">
      <label for="inputlastname">Last Name</label>
      <input type="text" class="form-control" id ="inputlastname" placeholder="lastname" required ng-model="signupData.lastname">
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id ="Username" placeholder="username" required ng-model="signupData.username">
    </div>
    <div class="form-group">
      <label for="inputEmail">Email</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="Email" required ng-model="signupData.email">
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" id="Password" placeholder="Password" required ng-model="signupData.password">
    </div>
    <button type="Submit" class="btn btn-primary">Signup</button>
  </form>
</div>
