
<div class="container-fluid"  style="padding-top:90px;">
     <div class="row">
       <div class="col-lg-4 col-md-4 col-md-4">
         <div class="well well-sm">
           <div class="row">
             <div class="col-sm-4 col-md-4">
               <div class="row">
                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   <img src="../images/upload-img.png" alt="user-profile-img" class="img-rounded img-responsive" />
                 </div>
               </div>
               <div class="row">
                 <div class="col-md-12 col-sm-12 text-center">
                   <h5>{{username}}</h5>
                 </div>
               </div>
               <div class="row" style="margin-top:4px;">
                 <div class="col-md-12 col-sm-12 text-center">
                   <button class="btn btn-primary upload-profile-btn">Upload Image</button>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6" style="padding:0px;">
                <h4>{{ firstname + " " + lastname }}</h4>
                <h5>{{country}} <i class="glyphicon glyphicon-map-marker"></i></h5>
                <h5><i class="glyphicon glyphicon-envelope"></i> {{email}}</h5>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2" style="padding-left:0px;">
              <button type="button" class="btn btn-warning btn-sm edit-profile-btn" data-toggle="collapse" data-target="#edit-prof-collapse">
                <span class="glyphicon glyphicon-edit"></span> Edit
              </button>
            </div>
          </div>
        </div>






        <div class="row collapse" id="edit-prof-collapse">
          <div class="col-lg-12 col-md-12 col-md-12">
            <div class="well well-sm">
              <div class="row">
                <div class="col-sm-6 col-md-6">
                  <form id="edit-profile-form">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="First name" required>
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" placeholder="Password" required>
                    </div>

                  </form>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="row">
                    <div class="col-md-12 col-sm-12">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Last name" form="edit-profile-form" required>
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Country" form="edit-profile-form" required>
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="City" form="edit-profile-form" required>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <!--
              <div class="row">
                <div class="col-sm-4 col-xs-4 col-md-4 month-style">
                  <select form="edit-profile-form" required>
                    <option>- Month -</option>
                    <option value="January">January</option>
                    <option value="Febuary">Febuary</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                  </select>
                </div>
                <div class="col-sm-3 col-xs-3 col-md-3 text-center day-style">
                  <select form="edit-profile-form" required>
                    <option>- Day -</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                  </select>
                </div>
                <div class="col-sm-3 col-xs-3 col-md-3 year-style">
                  <input class="input-year" type="text" placeholder="- Year -" form="edit-profile-form" required>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                  <button type="submit" form="edit-profile-form" class="btn btn-primary save-profile-btn">Save</button>
                </div>
              </div> -->
            </div>
          </div>
        </div>







      </div>









      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <div class="panel with-nav-tabs panel-primary">
          <div class="panel-heading">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab1" data-toggle="tab">Contributes</a></li>
              <li><a href="#tab2" data-toggle="tab">Requests</a></li>
            </ul>
          </div>
          <div class="panel-body">
            <div class="tab-content">
              <div class="tab-pane fade in active" id="tab1">
              <div ng-repeat="snippet in snippets">

                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="row lang-snip-row">
                    <div class="col-md-2 col-sm-2 col-xs-2" style="margin-top:10px;">
                      <span class="side-info">{{snippet.date}}</span>
                      <br>
                      <b class="side-info">{{snippet.views}}</b>
                      <span class="side-info"> views</span>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8" style="padding-left:0;">
                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <a class="explore-anchor" ng-href="snippet/{{snippet.id}}">
                            <h4 class="snip-title" >
                              {{snippet.title}}
                            </h4>
                          </a>
                        </div>
                      </div>
                      <div class="row">

                        <div class="col-md-8 col-sm-8 col-xs-8">
                          <ul class="ul-tags">
                            <li class="li-tag"  ng-repeat="tag in snippet.tags"><a class="li-tag-a" href="tag/{{tag}}"><span class="tag-span" >{{tag}}</span></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2">
                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <span class="stars-container stars-{{snippet.rank}}">★★★★★</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <b class="side-info">{{snippet.votes}}</b>
                          <span class="side-info"> Votes</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
                <div class="tab-pane fade" id="tab2">
                <div ng-repeat="question in questions">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="row lang-snip-row">
                    <div class="col-md-2 col-sm-2 col-xs-2" style="padding-right:0; margin-top:10px;">
                      <span class="side-info">{{question.date}}</span>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8" style="padding-left:0;">
                      <div class="row">
                        <div class="col-md-12 col-sm-12">
                          <a class="explore-anchor" ng-href="question/{{question.id}}">
                            <h4 class="snip-title">
                              {{question.title}}
                            </h4>
                          </a>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-8 col-sm-8 col-xs-8">
                          <ul class="ul-tags">
                            <li class="li-tag"  ng-repeat="tag in question.tags"><a class="li-tag-a" href="tag/{{tag}}"><span class="tag-span" >{{tag}}</span></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2 text-center">
                      <b class="side-info">{{question.views}}</b>
                      <span class="side-info"> Views</span>
                      <br>
                      <a class="explore-anchor">
                        <h5 class="snipp-header">
                          <b class="side-info">{{question.answers}}</b>
                          <span class="side-info"> Answers</span>
                        </h5>
                      </a>
                    </div>
                  </div>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      </div>

    </div>




</div>
